html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* */
:root{
    --Abel: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Colors */
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #fff;
    --midnight: #104f55;
    
    /* gradient */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
/* ------------------ Global Classes -------------*/

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1{
    font-size: 2.8rem;
}

h3{
    font-size: 1.6rem;
}

.container{
    margin: 0 5vh;
}

p{
    color: var(--text-gray);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ------------------ navbar -------------*/

.nav{
    background: #fff;
    padding: 0 2rem;
    height: 4.5rem;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collpase{
    position: absolute;
    top: 26px;
    right: 25px;
    cursor: pointer;
    display: none;
}

.nav .toggle-collpase.toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collpase .toggle-icons{
    font-size: 1.4rem;  
    color: var(--text-gray);          
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);

}
.nav .nav-items .nav-link a{
    color: var(--text-gray);
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white)
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Abel);
    color: var(--text-gray);
}


.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0.2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}

.text-gray{
    color: var(--text-gray);
}


/* Main Content */

main .site-title{
    background-image: url('../assets/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-title h1, h3{
    margin: 2rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: var(--sky);

}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Abel);
}

main .site-title .btn:hover{
    opacity: 0.7;
    cursor: pointer;
}

/* Blog Section */

main .blog{
    background: url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 67%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgb(0, 0, 0, 0.2)
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content .blog-title span{
    display: block;
    color: #82979b;
}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}


.pre-style{
    color: var(--text-gray) !important;
    background: transparent !important;
    font-size: 2rem !important;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent !important;
    color: var(--midnight) !important;
}

/* Site Content */
main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}

main .post-content{
    width: 100%;
    margin-bottom: 5rem;
}

main .site-content .post-content > .post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content > .post-image .post-info{
        background: var(--sky);
        padding: 1rem;
        position: absolute;
        bottom: 0%;
        left: 20vw;
        border-radius: 3rem;
}

main .site-content .post-content > .post-image > div{
    overflow: hidden;
}

main .site-content .post-content > .post-image div img{
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image div img:hover{
    transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span{
    margin: 0.5rem;
}

main .post-content .post-title a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.4rem;
    background: var(--sky);
}

.site-content .pagination{
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.site-content .pagination a{
    padding: .6rem;
    border-radius: 2rem;
    margin: 0.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* viewport 750px */

@media (max-width: 750px){
    .nav .nav-menu{
       flex-direction: column;
    }
    .nav .nav-menu .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collpase{
        display: initial;
    }
    .nav .social{
        justify-content: center;
        width: 100%;
        align-content: center;
        display: flex;
    }
}